nav.nav-rtl {
  direction: rtl;
}

.navbar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
  direction: rtl;
}

.navbar__logo__text p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
}

.navbar__logo__img {
  width: 2.5rem;
  margin: 5px;
}

.navbar__logo__text p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.navbar__item__button, .navbar__item__button:hover {
  color: #0089FF;
  background-color: #E6F3FF;
  border: none;
  font-size: 0.9rem;
  font-weight: bold;
}

.faq__header {
  background-color: #0089FF;
  color: white;
  text-align: justify;
  height: 10rem;
}

.main-question__header {
  text-align: right;
  font-size: 1rem;
  border-right: 3px solid #00DE9A;
  padding-right: 5px;
  color: #2361B5;
  margin-bottom: 2rem;
}

.main-question__header h2 {
  font-size: 1.2rem;
}

.main-question__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 1rem;
}

.main-question__icons__icon-disabled {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.main-question__icons__icon {
  -webkit-box-shadow: 0 0 15px rgba(0, 137, 255, 0.3);
          box-shadow: 0 0 15px rgba(0, 137, 255, 0.3);
  border-radius: 10px;
  width: 120px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  font-size: 0.8rem;
}

.main-question__icons__icon__img {
  width: 2.2rem;
}

.questions__item {
  color: #2361B5;
  cursor: pointer;
}

.questions__item__question svg {
  width: 30px;
  height: 30px;
}

.questions__item__question h3 {
  font-size: 1rem;
}

.questions__item__answer p {
  color: black;
  margin-right: 2rem;
  text-align: right;
  font-size: 1rem;
  border-right: 3px solid #00DE9A;
  padding-right: 5px;
  color: #2361B5;
  direction: rtl;
}

.support {
  background-color: #0089FF;
  color: white;
}

.support button, .support button:hover {
  background-color: #2361B5;
  color: white;
}

.support__button {
  margin-left: 1rem;
}

.support__button__img {
  width: 2rem;
}

.support__text {
  gap: 1rem;
  margin-right: 1rem;
}

.footer__c1 {
  gap: 1rem;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.9rem;
  direction: rtl;
}

.footer__logo__text p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
}

.footer__logo__img {
  width: 2rem;
  margin: 5px;
}

.footer__logo__text p {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
}

.footer__download__icons {
  direction: rtl;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.3rem;
}

.footer__download__icons__icon {
  background-color: black;
  width: 10rem;
  height: 3rem;
}

.download__pages__list {
  list-style: none;
}

.download__pages {
  line-height: 3rem;
}

.download__pages__title {
  padding: 0;
  margin: 0;
}

.download__pages__list {
  list-style: none;
  font-size: 0.95rem;
}

.download__pages__list__item > a {
  color: #3f3e3e;
  text-decoration: none;
}

.download__pages__list__item > a:hover {
  color: black;
  border-right: 2px solid #00DE9A;
  padding-right: 5px;
  text-decoration: none;
  font-size: 1rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.download__services {
  line-height: 3rem;
}

.download__services__title {
  padding: 0;
  margin: 0;
}

.download__services__list {
  list-style: none;
  font-size: 0.95rem;
}

.download__services__list__item > a {
  color: #3f3e3e;
  text-decoration: none;
}

.download__services__list__item > a:hover {
  color: black;
  border-right: 2px solid #00DE9A;
  padding-right: 5px;
  text-decoration: none;
  font-size: 1rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
  font-size: 16px;
  font-family: 'yekan', Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
}

section {
  padding: 2rem 0rem;
  margin-bottom: 2rem;
}
/*# sourceMappingURL=styles.css.map */