.support {
    background-color: $primary-color;
    color: white;
    
}
.support button, .support button:hover {
    background-color: $title-color;
    color: white;
    
}
.support__button{
    margin: 1rem;
}
.support__button__img {
    width: 2rem;
}
.support__text{
    gap: 1rem;
    margin-right : 1rem;
}
.support__text__title, .support__text__text {
    margin:0;
    padding:0;
    // vertical-align: center;
}