.support {
    background-color: $primary-color;
    color: white;
    margin-bottom: 3rem;
    margin-top: 3rem;
}
.support button, .support button:hover {
    background-color: $title-color;
    color: white;
}
.support__button{
    margin: 1rem;
    border-radius: 10px;
}
.support__button__img {
    width: 2rem;
}
.support__text{
    gap: 1rem;
    margin-right : 1rem;
}
.support__text__title, .support__text__text {
    margin:0;
    padding:0;
}
@media screen and (max-width:991px) {
    .support__text {
        justify-content: center;
    }
}