// .indexHeader {
//     // display: flex;
//     // flex-direction: row;
// }
.indexHeader__input {
    display: flex;
    justify-content: space-around;
    align-items: center;
    // background-color: whitesmoke;
    width: auto;
    width: 100%;
    height: 70px;
    border-radius: 20px;
}
.indexHeader__title {
    color: $primary-color;
}
.indexHeader__input__input:focus {
    outline: none;
    direction: rtl;
}
.indexHeader__input__input {
    width: 60%;
    height: 50px;
    border: none;
}
.indexHeader__input__button {
    height: 50px;
    width: 7rem;
}
.indexHeader__title
{
    direction: rtl;
}
.indexHeader__cards {

    align-content: space-between;
}
.indexHeader__cards__card1 {
    margin-bottom: 2rem;
    @include icon-box-shadow;
    border-radius: 30px;
    width: 450px;
    height: 100px;
    align-content: center;
}
.indexHeader__cards__card2 {
    margin-bottom: 2rem;
    @include icon-box-shadow;
    border-radius: 30px;
    width: 300px;
    height: 90px;
    align-self: center;
    align-content: center;
    opacity: 0.7;
}
.indexHeader__cards__card3 {
    margin-bottom: 2rem;
    @include icon-box-shadow;
    border-radius: 30px;
    width: 260px;
    height: 80px;
    align-content: center;
    opacity: 0.5;
}
.indexHeader__cards__card1__label {
    background-color: $primary-color;
    color: white;
    height: 20px;
    width: 70px;
    font-size: 0.7rem;
}
.indexHeader__cards__card2__label{
    display: none;
}
.indexHeader__cards__card3__label {
    background-color: $primary-color;
    color: white;
    height: 15px;
    width: 50px;
    font-size: 0.6rem;
}
.indexHeader__cards__card1__svg {
    background-color: $primary-color;
    color: white;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    padding: 1rem;
    margin-left: 0.5rem;   
}
.indexHeader__cards__card2__svg {
    background-color: $primary-color;
    color: white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    margin-left: 0.2rem;
}
.indexHeader__cards__card3__svg {
    background-color: $primary-color;
    color: white;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    padding: 0.3rem;
    margin-left: 0.2rem;
    align-self: center;
}
#indexHeader__cards__card2__svg {
    padding: 0.3rem;
    width: 40px;
    height: 40px;
}

.indexHeader__cards__card2__title {
    font-size: 1rem;
}
.indexHeader__cards__card2__text {
    font-size: 0.8rem;
}
.indexHeader__cards__card3__title {
    font-size: 0.9rem;
}
.indexHeader__cards__card3__text {
    font-size: 0.7rem;
}
.indexHeader__cards__card1__text__svg {
    color: $tertiary-color;
}
.indexHeader__cards__card2__text__svg {
    color: $tertiary-color;
}
.indexHeader__cards__card3__text__svg {
    color: $tertiary-color;
}
// RIGHT SIDE
.indexHeader__right {
}

.indexHeader__text {
    line-height: 3rem;
    
}
.indexHeader__title {
    line-height: 4.2rem;
    font-size: 2rem;
}

// indexStatics
.indexStatics {
    background-color: $primary-color;
    color: white;
    margin-bottom: 3rem;
}
.indexServices__text {
    margin-bottom: 3rem;
}
.indexServices__text__title {
    @include section-title;
    padding-right: 2rem;
    font-size: 1.5rem;

}

.indexStatics__cards__card__number {
    font-size: 2rem;
}
.indexStatics__cards__card__title {
    font-size: 0.75rem;
}

.indexServices__cards {
    gap:3rem;
}
.indexServices__cards__card {
    box-shadow: 0 0 15px rgba(0,137,255,0.3);
    // height: 400px;
    border-radius: 35px;
    border: none;
}
.indexServices__cards__card__text {
    margin-bottom: 1rem;
}

.indexServices__cards__card__title {
    text-align: right;
    font-size: 1.2rem;
    border-right: 3px solid $tertiary-color;
    padding-right: 5px;
    color: $title-color;
}
.indexServices__cards__card__button {
    width: 8rem;
    align-self: center;
}
.indexServices__cards__card__img {
    width: 130px;
    height: 150px;
    margin: 1rem;
    align-self: center;
}

@media screen and (max-width:991px)
{
    .indexHeader{
        display: flex;
        flex-direction: column;
    }
    // .indexHeader__description {
    //     width: 100%;
    // }
    .indexHeader__cards__card2 {
        display: none;
    }
    .indexHeader__cards__card3 {
        display: none;
    }
}